*{
  box-sizing: border-box;
}
body{
  background-color:black;
}
body h1{
  font-size: 1.5rem !important; 
  font-weight: bold;
  margin-top: 3rem;
  text-shadow: 0 0 2rem;
}
#clock {
  text-align: center;
  font-weight: bold;
  width: 80vw;
  margin: auto;  
}
#time{
  font-size: 5rem;
  color:#3cb9fc ;
  text-shadow: 0 0 2rem; 
}
#container, body h1 {
  text-align: center;
}
button {
  padding: 2% ;
  margin: 10px;
  cursor: pointer;
  width: 5%;
  border: 1px solid white;
  border-radius: 15rem;
}
#theme1{
  background-color: #140142;
}
#theme2{
  background-color: #161B21;
}
#theme3{
  background-color: #295F2D;
}
