*{
  box-sizing: border-box;
}
body{
  background-color:rgb(77, 160, 199) ;
}
#clock {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #333 rgb(0, 0, 0);
  border: 2px dashed;
  width: fit-content;
  margin: auto;
  padding:0 2px ;
}
#container {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #fff;
  cursor: pointer;
  border: 1px dashed black;
}
#teal{
  background-color: #008080;
}
#green{
  background-color: hsl(96, 51%, 51%);
}
#amber{
  background-color: #fdb750;
}